pkgbase = nvidia-container-toolkit
	pkgdesc = NVIDIA container runtime toolkit
	pkgver = 1.14.6
	pkgrel = 2
	url = https://github.com/NVIDIA/nvidia-container-toolkit
	arch = x86_64
	license = Apache-2.0
	makedepends = go
	depends = glibc
	depends = libnvidia-container=1.14.6
	options = !lto
	backup = etc/nvidia-container-runtime/config.toml
	source = nvidia-container-toolkit-1.14.6.tar.gz::https://github.com/NVIDIA/nvidia-container-toolkit/archive/v1.14.6.tar.gz
	b2sums = 6d0dc186a49b2d1cb09fda3f3c4e3361e22f8891cba96cfaa14f2b70f887040b5b637125f7581159aa4a3e0f4c0542f0899e1d0708806767091a9cc34828deac

pkgname = nvidia-container-toolkit
